<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/static/sheet.css">
        <title>Forgot Password</title>
    </head>
    <body>
        <div id="panel">
            yToDo
        </div>
        <div  id="left">
            &nbsp;
        </div>
        <div id="central">
            <form action="/forget/forget_get" method="post">
                <p id="login">NICKNAME</p>
                <input id="input" type="text" name="n">
                <p id="login">BACKUP CODE</p>
                <input id="input" type="password" name="c">
                <p><input id="button" type="submit" value="GO"></p>
            </form>
            <p>
                {{error}}
            </p>
            <button id="button" onclick="window.location.href = '{{ url_for('home.home')}}';">HOME</button>
        </div>
        <div id="right">
            &nbsp;
        </div>
        <div id="footer">
            CREATED BY <a href="https://github.com/TheZodiaCC" target="_blank">TheZodiaCC </a> &nbsp; & &nbsp; POWERED BY FLASK
        </div>
    </body>
</html>