<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/static/sheet.css">
        <title>Register</title>
    </head>
    <body>
        <div id="panel">
            yToDo
        </div>
        <div  id="left">
            &nbsp;
        </div>
        <div id="central">
            <form action="/register/reg" method="post">
                <p id="login">NICKNAME</p>
                <input id="input" type="text" name="n">
                <p id="login">PASSWORD</p>
                <input id="input" type="password" name="p">
                <p><input id="button" type="submit" value="REGISTER"></p>
            </form>
            <p id="login">LENGTH</p>
            <p id="login"> 15 > NICKNAME > 5</p>
            <p id="login"> 20 > PASSWORD > 8</p>
            <p>
                {{error}}
                {{info}}
            </p>
            <button id="button" onclick="window.location.href = '{{ url_for('home.home') }}';">HOME</button>
        </div>
        <div id="right">
            &nbsp;
        </div>
        <div id="footer">
            CREATED BY <a href="https://github.com/TheZodiaCC" target="_blank">TheZodiaCC </a> &nbsp; & &nbsp; POWERED BY FLASK
        </div>
    </body>
</html>